*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

.containers
{
    max-width: 1170px;
   
    

}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;

}



.footer
{  
    
    background-color:black;
    padding: 70px 0;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 0px;
    
}
.footer-col
{
  width: 25%;
  padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
    
    
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}